
body {
    background-color: pink ;
    max-width: 1200px;
    max-height: 506px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    
    
    

}


/* HEADER */

.capçalera {
    background-color: black;
    
    flex-basis: 100px;
    margin-top: 30px;
    margin-bottom: 15px;

    
    
 
    
}

/* MAIN */

.principal {
    background-color: black;
    flex-basis: 100px;
    margin-top: 15px;
    margin-bottom: 15px;

    

}

/* FOOTER */

.peu {
    background-color: black;
    flex-basis: 100px;
    margin-top: 15px;
    margin-bottom: 30px;

    

    
}











/* BLOC 1 */


/* Box 1 */


/* Box 2 */


/* Box 3 */



/* -----BLOC----- 2 */


/* Box 4 */





/*---- BLOC ---- 4 */


/* Box 10 */


/* Box 11 */






/* BLOC 3 */




/* Box 5 */


/* Box 6 */


/* Box 7 */


/* Box 8 */


/* Box 9 */























/* Box 12 */













